@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');
@import url("https://fonts.googleapis.com/css?family=Barlow|Tomorrow:400,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --yellow-color: #f7ff03; 
  --red-color: #ff0000b6;
  --black-color: #090d10dd;
  --blue-color: #00f0ff;
  /* Background Colors */
  --dark-bg: #111111;       /* Dark background color */
  --light-bg: #222222;      /* Slightly lighter background color */
  
  /* Text Colors */
  --text-color: #FFFFFF;    /* White text color */
  
  /* Neon Colors */
  --neon-blue: #20c9efa8;     /* Electric blue neon */
  --neon-pink: #FF00FF;     /* Hot pink neon */
  --neon-green: #00FF00;    /* Neon green */
  --neon-cyan: #22c8ff;     /* Neon cyan */
  --neon-orange: #FFA500;   /* Neon orange */

  /* Accent Colors */
  --accent-red: #FF0000;    /* Red accent color for highlights */

  /* Metallic Colors */
  --metallic-silver: #C0C0C0;   /* Silver metallic color */
  --metallic-chrome: #A9A9A9;   /* Chrome metallic color */
  --metallic-gold: #FFD700;     /* Gold metallic color */
}

body {
  color: rgb(var(--foreground-rgb));
}
.btn {
  width: 230px;
  height: 60px; 
  border: 0;
  outline: none;
  background-color: var(--black-color);
  cursor: pointer;
  position: relative;
  font-family: Tomorrow, sans-serif;
  font-size: .85rem;
  text-transform: uppercase;
  color: var(--black-color);
  clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
}

.btn__content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background-color: var(--neon-blue);
  clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
  transition: background-color 0.5s;
}


.btn__label {
  height: 15px;
  font-size: .50rem;
  position: absolute;
  bottom: -4px;
  right: 8%;
  padding: 0 5px;
  background-color: var(--neon-blue);
  transition: background-color 0.5s;
  z-index: 3;
}

.btn__content:hover {
  background-color: var(--neon-cyan);
}

.btn__content:hover + .btn__label {
  background-color: var(--neon-cyan);
}
