@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --yellow-color: #a85dd1e1;
  --red-color: #ff0000b6;
  --black-color: #000000a6;
  --blue-color: #dba240;
  /* Background Colors */
  --primary:var(--red-color)
  --secondary:var(--yellow-color)

  --dark-bg: #111111; /* Dark background color */
  --light-bg: #222222; /* Slightly lighter background color */

  /* Text Colors */
  --text-color: #ffffff; /* White text color */

  /* Neon Colors */
  --neon-blue: #e960a5a8; /* Electric blue neon */
  --neon-pink: #ff00bfcc; /* Hot pink neon */
  --neon-green: #00ff00; /* Neon green */
  --neon-cyan: #fffbffdc; /* Neon cyan */
  --neon-orange: #ffa500; /* Neon orange */

  /* Accent Colors */
  --accent-red: #ff0000; /* Red accent color for highlights */

  /* Metallic Colors */
  --metallic-silver: #c0c0c0; /* Silver metallic color */
  --metallic-chrome: #a9a9a9; /* Chrome metallic color */
  --metallic-gold: #ffd700; /* Gold metallic color */
}

/* Chrome, Edge, and Safari */
body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: black;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 14px;
  border: 2px solid rgb(192, 178, 178);
}

.custom::-webkit-scrollbar {
  width: 3px;
  overflow-y: hidden;
}

.custom::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
  border-radius: 5px;
}

.custom::-webkit-scrollbar-thumb {
  background-color: #00000000;
  border: 2px solid rgba(192, 178, 178, 0);
}

.cus::-webkit-scrollbar {
  width: 5px;
}

.cus::-webkit-scrollbar-track {
  border-radius: 5px;
}

.cus::-webkit-scrollbar-thumb {
  background-color: #000000;
  margin:10px;
  border-radius: 14px;
  border: 2px solid rgb(192, 178, 178);
}


body {
  color: rgb(var(--foreground-rgb));
  background-color: #000000;

}

.card{
  clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
}

.shadow {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073,
    0 0 50px #e60073, 0 0 60px #ff00ff, 0 0 70px #ff2dca;
}

.btn__content:hover + .btn__label {
  background-color: var(--neon-cyan);
}

.pink_selector::selection{
  background-color: rgb(206, 46, 139);
  color:black
}


/* Divider */

img.cyberpunk,
.cyberpunk img {
  clip-path: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px)  calc(100% - 10px), calc(80% - 15px) calc(100% - 0px), 10px  calc(100% - 0px), 0% calc(100% - 10px));
  background-color: var(--black-color);
  max-width: calc(100% - 10px);
}

/* https://github.com/gwannon/Cyberpunk-2077-theme-css?tab=readme-ov-file */

.sty{
  clip-path: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px)  calc(100% - 10px), calc(80% - 15px) calc(100% - 0px), 10px  calc(100% - 0px), 0% calc(100% - 10px));
  background-color: var(--black-color);
}

.stye{
  width: calc(100% - 30px);
  border: 30px solid rgba(255, 255, 255, 0.863);
  border-left: 5px solid rgba(255, 0, 162, 0.836);
  border-right: 5px solid rgba(255, 0, 162, 0.836);
  border-bottom: 15px solid rgba(255, 255, 255, 0.833);
  clip-path: polygon(
    0px 20px,
    26px 0px,
    calc(60% - 25px) 0px,
    60% 25px,
    100% 25px,
    100% calc(100% - 10px),
    calc(100% - 15px) calc(100% - 10px),
    calc(80% - 10px) calc(100% - 10px),
    calc(80% - 15px) calc(100% - 0px),
    10px calc(100% - 0px),
    0% calc(100% - 10px)
  );
  margin-bottom: 10px;
  padding: 12px;
}
.styP{
  width: calc(100% - 30px);
  border: 14px solid rgba(255, 255, 255, 0.863);
  border-left: 5px solid rgba(255, 0, 162, 0.836);
  border-right: 5px solid rgba(255, 0, 162, 0.836);
  border-bottom: 7px solid rgba(255, 255, 255, 0.833);
  clip-path: polygon(
    0px 20px,
    26px 0px,
    calc(60% - 25px) 0px,
    60% 25px,
    100% 25px,
    100% calc(100% - 10px),
    calc(100% - 15px) calc(100% - 10px),
    calc(80% - 10px) calc(100% - 10px),
    calc(80% - 15px) calc(100% - 0px),
    10px calc(100% - 0px),
    0% calc(100% - 10px)
  );
  margin-bottom: 10px;
  padding: 12px;
}
section.cyberpunk {
  background-color: transparent;
  color: "black";
  padding: 18px 15px;
  position: relative;
  margin-top: -20px;
  margin-bottom: -20px;
  z-index: 2;
}
section.cyberpunk:after,
section.cyberpunk.black:after {
  content: " ";
  display: block;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 30px;
  --tw-border-opacity: 1;
  background-color: rgba(255, 0, 162, 0.836);
  position: absolute;
  clip-path: polygon(0% 0%, 22% 0%, calc(22% + 30px) 30px, 52% 30px, calc(52% + 15px) 15px, 70% 15px, calc(70% + 15px) 30px, 90% 30px, calc(90% + 30px) 0px, 100% 0px, 100% 30px, 0px 30px);
}

section.cyberpunk.both:after,
section.cyberpunk.both.black:after {
  height: 100%;
  clip-path: polygon(
    0px 30%,
    30px calc(30% + 30px), 
    30px calc(100% - 30px), 
    22% calc(100% - 30px), 
    calc(22% + 30px) 100%, 
    52% 100%, calc(52% + 15px) 
    calc(100% - 15px), 
    70% calc(100% - 15px), 
    calc(70% + 15px) 100%, 
    90% 100%, 
    calc(90% + 30px) calc(100% - 30px), 
    100% calc(100% - 30px), 
    100% 100%, 
    0px 100%);
  /*background-color: red;*/
}

section.cyberpunk.black:after {
  background-color: var(--black-color);
  border:2px solid black;
}

section.cyberpunk.black {
  background-color: transparent;
  color: var(--yellow-color);
}

section.cyberpunk:before,
section.cyberpunk.black:before {
  content: " ";
  display: block;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 30px;
  --tw-border-opacity: 1;
  background-color: var(--black-color);
  position: absolute;
  clip-path: polygon(
    calc(22% + 28px) -1px, 
    calc(22% + 45px) 15px, 
    74% 15px, 
    calc(74% + 15px) -2px, 
    74% 0px
  );
}

section.cyberpunk.both:before,
section.cyberpunk.both.black:before {
  height: 100%;
  clip-path: polygon(
    calc(22% + 28px) -1px, 
    calc(22% + 45px) 15px, 
    34% 15px, 
    calc(34% + 15px) -1px, 
    0% 0%, 0% 10%, 
    30px calc(10% + 30px), 
    30px 100%, 
    0% 100%,
    0% 0%
  );
}


section.cyberpunk:before {
  background-color: rgba(255, 255, 255, 0.863);
}

section.cyberpunk:nth-child(even):after,
section.cyberpunk:nth-child(odd):before {
 transform: scaleX(-1);
}

.styleEvent{
  box-shadow: 2px 5px red;
  clip-path: polygon(
    0px 20px,
    26px 0px,
    calc(60% - 25px) 0px,
    60% 25px,
    100% 25px,
    100% calc(100% - 10px),
    calc(100% - 15px) calc(100% - 10px),
    calc(80% - 10px) calc(100% - 10px),
    calc(80% - 15px) calc(100% - 0px),
    10px calc(100% - 0px),
    0% calc(100% - 10px)
  );
  margin-bottom: 10px;
  padding-top: 30px;
}

/* navbar responsive */
.nav {
  --color: #ffffff; 
  background: none;
  width: 50px;
  height: 56px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    fill: none;
    stroke: var(--color);
    stroke-width: 7px;
    stroke-linecap: round;
    stroke-linejoin: round;
    use {
      &:nth-of-type(1) {
        opacity: 1;
        stroke-dashoffset: 221;
        stroke-dasharray: 46 249;
        transition: stroke-dashoffset .12s linear .2s, stroke-dasharray .12s linear .2s, opacity 0s linear .2s;  
      }
      &:nth-of-type(2) {
        animation: stroke-animation-reverse 1.2s ease-out forwards;
      } 
    }
  }
  input {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    cursor: pointer;
    opacity: 0;
    &:checked {
      + svg {
        use {
          &:nth-of-type(1) {
            stroke-dashoffset: 175;
            stroke-dasharray: 0 295;
            opacity: 0;
            transition: stroke-dashoffset .07s linear .07s, stroke-dasharray .07s linear .07s, opacity 0s linear .14s;  
          }
          &:nth-of-type(2) {
            animation: stroke-animation 1.2s ease-out forwards;
          } 
        }
      }
    }
  }
}

@keyframes stroke-animation {
  0% {
    stroke-dashoffset: 295;
    stroke-dasharray: 25 270;
  }
  50% {
    stroke-dashoffset: 68;
    stroke-dasharray: 59 236;
  }
  65% {
    stroke-dashoffset: 59;
    stroke-dasharray: 59 236;
  }
  100% {
    stroke-dashoffset: 68;
    stroke-dasharray: 59 236;
  }
}

@keyframes stroke-animation-reverse {
  0% {
    stroke-dashoffset: 68;
    stroke-dasharray: 59 236;
  }
  50% {
    stroke-dashoffset: 290;
    stroke-dasharray: 25 270;
  }
  65% {
    stroke-dashoffset: 295;
    stroke-dasharray: 25 270;
  }
  100% {
    stroke-dashoffset: 290;
    stroke-dasharray: 25 270;
  }
}



