@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --yellow-color: #a85dd1e1;
  --red-color: #ff0000b6;
  --black-color: #090d10dd;
  --blue-color: #dba240;
  /* Background Colors */
  --primary:var(--red-color)
  --secondary:var(--yellow-color)

  --dark-bg: #111111; /* Dark background color */
  --light-bg: #222222; /* Slightly lighter background color */

  /* Text Colors */
  --text-color: #ffffff; /* White text color */

  /* Neon Colors */
  --neon-blue: #e960a5a8; /* Electric blue neon */
  --neon-pink: #ff00bfcc; /* Hot pink neon */
  --neon-green: #00ff00; /* Neon green */
  --neon-cyan: #fffbffdc; /* Neon cyan */
  --neon-orange: #ffa500; /* Neon orange */

  /* Accent Colors */
  --accent-red: #ff0000; /* Red accent color for highlights */

  /* Metallic Colors */
  --metallic-silver: #c0c0c0; /* Silver metallic color */
  --metallic-chrome: #a9a9a9; /* Chrome metallic color */
  --metallic-gold: #ffd700; /* Gold metallic color */
}

/* Chrome, Edge, and Safari */
body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: black;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 14px;
  border: 2px solid rgb(192, 178, 178);
}

.custom::-webkit-scrollbar {
  width: 3px;
  overflow-y: hidden;
}

.custom::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
  border-radius: 5px;
}

.custom::-webkit-scrollbar-thumb {
  background-color: #00000000;
  border: 2px solid rgba(192, 178, 178, 0);
}

.cus::-webkit-scrollbar {
  width: 5px;
}

.cus::-webkit-scrollbar-track {
  border-radius: 5px;
}

.cus::-webkit-scrollbar-thumb {
  background-color: #000000;
  margin:10px;
  border-radius: 14px;
  border: 2px solid rgb(192, 178, 178);
}




body {
  color: rgb(var(--foreground-rgb));
  background-color: #000000;

}
.btn {
  border: 0;
  outline: none;
  background-color: var(--black-color);
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
  color: var(--black-color);
  clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
}

.card{
  clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
}

.btn__content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 5px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
  transition: background-color 0.5s;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073,
    0 0 50px #e60073, 0 0 60px #ff00ff, 0 0 70px #ff2dca;
}

.btn__label {
  height: 15px;
  font-size: 0.5rem;
  position: absolute;
  bottom: -4px;
  right: 8%;
  padding: 0 5px;
  transition: background-color 0.5s;
  z-index: 3;
}

.btn__content:hover {
  background-color: var(--neon-cyan);
  text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
    0 0 50px #ffe44d, 0 0 60px #ffde4d, 0 0 70px #ffb24d, 0 0 80px #ffb84d;
}

.btn__content:hover + .btn__label {
  background-color: var(--neon-cyan);
}

.pink_selector::selection{
  background-color: rgb(206, 46, 139);
  color:black
}